$orange: #DBBC7C;
$blue:  #107fe8;
$danger: #f44336;
$warning: #ff9800;
$success: #019310;
$info: #0747a6;
$black: #000;
$white: #ffffff;
$gray: #f0f1f4;
$dark-orange: #d69000;

$gray-100: #eceeef;
$gray-200: #dddddd;
$gray-300: #78909c;
$gray-400: #818a91;
$gray-500: #455a64;
$gray-600: #37474f;
$gray-700: #909090;
$gray-800: #424547;
$gray-900: #373a3c;
$gray-1000: #4A4A4A;
$placeholder-gray: #9ba1a7;

$primary: $orange;
$secondary: $white;
