@font-face {
  font-family: 'Champagne & Limousines';
  font-weight: 300;
  src: url('../fonts/Champagne-Limousines.ttf') format('truetype');
}

@font-face {
  font-family: 'Champagne & Limousines';
  font-weight: normal;
  src: url('../fonts/Champagne-Limousines.ttf') format('truetype');
}

@font-face {
  font-family: 'Champagne & Limousines';
  font-weight: 500;
  src: url('../fonts/Champagne-Limousines.ttf') format('truetype'),
}

@font-face {
  font-family: 'Champagne & Limousines';
  font-weight: bold;
  src: url('../fonts/Champagne-Limousines-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Champagne & Limousines';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/Champagne-Limousines-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Champagne & Limousines';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/Champagne-Limousines-Bold-Italic.ttf') format('truetype');
}
