.btn {
  font-family: 'Champagne & Limousines';
  text-transform: lowercase;
  letter-spacing: 1.5px;
  border-radius: 0px;
  font-size: 1.5rem;
  padding-top: 0.275rem;
  padding-bottom: 0.275rem;
  width: 90%;
}