main {
  background-repeat: no-repeat;
  background-image: url('../../images/bar.png');
  background-size: contain;
  background-position: right center;
  padding: 30px 50px 30px 35px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;

  &.no-background {
    background-image: none;
    padding: 30px 35px;
  }

  @include media-breakpoint-up(md) {
    background-image: none;
    border: 1px dashed $orange;
    position: relative;
    width: 550px;
    height: 740px;
    margin: auto;
    margin-top: 3%;
    padding: 50px 90px !important;
  }
}
