main {
  max-width: 460px;
  max-height: 100vh;
  height: 80vh;
  margin: auto auto;
  position: relative;
  padding: 40px 55px 30px 40px;
  background-repeat: no-repeat;
  background-image: url('../../images/bar.png');
  background-size: contain;
  background-position: right center;
  display: flex;
  flex-direction: column;
  
  &.no-background {
    background-image: none;
    padding: 30px 30px;
  }

  @include media-breakpoint-down(xs) {
    max-height: 100vh;
    height: 100vh;
    max-width: 100vw;
  }
}