.question {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  max-height: 600px;
  margin-bottom: auto;

  .question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div {
      width: 95%;

      label {
        font-family: 'Champagne & Limousines';
        font-weight: 100;
        font-size: 1.36rem;
        margin-bottom: 0px;
        display: block;
        text-align: center;

        @include media-breakpoint-down(xs) {
          font-size: 4.6vw !important;
          line-height: 7vw;
        }
      }

      input {
        border-radius: 0px;
        border: 1px solid $white;
        background-color: $white;
        width: 100%;
        padding: 3px 10px;

        &:focus {
          outline: none;
          border-color: $orange;
        }
      }
    }
  }

  .question-image {
    display: flex;
    justify-content: center;
    align-items: center;

    &.responsive-img {
      width: 50%;
    }

    @media screen and (min-height: 600px) {
      &.responsive-img {
        width: 70%;
      }
    }
  }

  .question-container {
    display: flex;
    flex-direction: row;
    position: relative;
    max-height: 350px;

    .question-description {
      width: 60%;
      left: 45%;
      top: 30px;
      margin: 0px auto;
      position: absolute;
      text-transform: none;

      @include media-breakpoint-down(xs) {
        font-size: 6.2vw !important;
        line-height: 7vw;
      }
    
    }
  }

  .question-video {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    > div {
      height: 30vh;
      width: 100%;
    }
  }

  .question-text {
    font-family: 'Champagne & Limousines';
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.36rem;
    line-height: 27px;

    &.text-normal {
      text-transform: none;
      font-size: 1.2rem;
    }

    &.text-smaller {
      font-size: 1.156rem;
    }

    &.small {
      font-size: 1rem;
      line-height: 20px;
    }

    strong {
      font-weight: bold;
    }

    @include media-breakpoint-down(xs) {
      font-size: 5vw !important;
      line-height: 7vw;

      &.text-normal {
        text-transform: none;
        font-size: 4.6vw;
      }

      &.text-smaller {
        font-size: 4.5vw !important;
        line-height: 7vw;
      }
    }
  }

  .question-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    margin-top: 0px;

    @media screen and (max-height: 560px) {
      margin-top: auto !important;
      margin-bottom: 25px !important;
    }

    @media screen and (max-height: 650px) {
      .btn {
        font-size: 6vw !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0px 0px !important;
        letter-spacing: 0px;
      }
    }

    &.multiples {
      .btn {
        max-height: 40px;
      }
    }

    &.question-options-img {
      justify-content: center;
      overflow-x: scroll;
      flex-wrap: wrap;
      margin-bottom: 20px;

      .question-image {
        img {
          border-radius: 15px;
        }

        &.selected {
          border-radius: 15px;
          border: 3px solid $orange;
          opacity: 0.6;
          transition: opacity 0.1s ease-in-out;
          transition: padding 0.1s ease-in-out;
        }
      }
    }

    .btn {
      width: 100%;
      margin-right: 10px;
      font-size: 1.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}